<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.sms.common.dao.mapper.SmsChannelMessageMapper">
    <resultMap id="BaseResultMap" type="com.zb.sms.common.model.SmsChannelMessageDo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="sys_id" property="sysId" jdbcType="INTEGER"/>
        <id column="sys_code" property="sysCode" jdbcType="VARCHAR"/>
        <id column="sms_code" property="smsCode" jdbcType="VARCHAR"/>
        <id column="mobile" property="mobile" jdbcType="LONGVARCHAR"/>
        <id column="mobile_count" property="mobileCount" jdbcType="INTEGER"/>
        <id column="content" property="content" jdbcType="LONGVARCHAR"/>
        <id column="send_content" property="sendContent" jdbcType="LONGVARCHAR"/>
        <id column="status" property="status" jdbcType="TINYINT"/>
        <id column="sms_config_id" property="smsConfigId" jdbcType="INTEGER"/>
        <id column="sms_type" property="smsType" jdbcType="TINYINT"/>
        <id column="is_local_template" property="isLocalTemplate" jdbcType="TINYINT"/>
        <id column="local_template_id" property="localTemplateId" jdbcType="INTEGER"/>
        <id column="is_remote_template" property="isRemoteTemplate" jdbcType="TINYINT"/>
        <id column="remote_template_id" property="remoteTemplateId" jdbcType="VARCHAR"/>
        <id column="channel_id" property="channelId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, sys_id, sys_code, sms_code, mobile, mobile_count, content, send_content, status, sms_config_id,
        sms_type, is_local_template, local_template_id, is_remote_template, remote_template_id,
        channel_id, create_time, modified_time
    </sql>

    <sql id="Select_SQL">
        select
        <include refid="Base_Column_List"/>
        from sms_channel_message
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="sysId != null">
                and sys_id = #{sysId,jdbcType=INTEGER}
            </if>
            <if test="sysCode != null">
                and sys_code = #{sysCode,jdbcType=VARCHAR}
            </if>
            <if test="smsCode != null">
                and sms_code = #{smsCode,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=TINYINT}
            </if>
            <if test="smsType != null">
                and sms_type = #{smsType,jdbcType=TINYINT}
            </if>
            <if test="isLocalTemplate != null">
                and is_local_template = #{isLocalTemplate,jdbcType=TINYINT}
            </if>
            <if test="isRemoteTemplate != null">
                and is_remote_template = #{isRemoteTemplate,jdbcType=TINYINT}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <select id="select" resultMap="BaseResultMap" parameterType="com.zb.sms.common.model.SmsChannelMessageDo">
        <include refid="Select_SQL"/>
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.zb.sms.common.model.SmsChannelMessageDo">
        <include refid="Select_SQL"/>
    </select>

    <select id="selectByMap" resultMap="BaseResultMap" parameterType="map">
        <include refid="Select_SQL"/>
    </select>

    <select id="selectListByMap" resultMap="BaseResultMap" parameterType="map">
        <include refid="Select_SQL"/>
    </select>

    <insert id="insert" parameterType="com.zb.sms.common.model.SmsChannelMessageDo">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sms_channel_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysId != null">
                sys_id,
            </if>
            <if test="sysCode != null">
                sys_code,
            </if>
            <if test="smsCode != null">
                sms_code,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="mobileCount != null">
                mobile_count,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="sendContent != null">
                send_content,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="smsConfigId != null">
                sms_config_id,
            </if>
            <if test="smsType != null">
                sms_type,
            </if>
            <if test="isLocalTemplate != null">
                is_local_template,
            </if>
            <if test="localTemplateId != null">
                local_template_id,
            </if>
            <if test="isRemoteTemplate != null">
                is_remote_template,
            </if>
            <if test="remoteTemplateId != null">
                remote_template_id,
            </if>
            <if test="channelId != null">
                channel_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sysId != null">
                #{sysId,jdbcType=INTEGER},
            </if>
            <if test="sysCode != null">
                #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="smsCode != null">
                #{smsCode,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=LONGVARCHAR},
            </if>
            <if test="mobileCount != null">
                #{mobileCount,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="sendContent != null">
                #{sendContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="smsConfigId != null">
                #{smsConfigId,jdbcType=INTEGER},
            </if>
            <if test="smsType != null">
                #{smsType,jdbcType=TINYINT},
            </if>
            <if test="isLocalTemplate != null">
                #{isLocalTemplate,jdbcType=TINYINT},
            </if>
            <if test="localTemplateId != null">
                #{localTemplateId,jdbcType=INTEGER},
            </if>
            <if test="isRemoteTemplate != null">
                #{isRemoteTemplate,jdbcType=TINYINT},
            </if>
            <if test="remoteTemplateId != null">
                #{remoteTemplateId,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null">
                #{channelId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.zb.sms.common.model.SmsChannelMessageDo">
        update sms_channel_message
        <set>
            <if test="sysId != null">
                sys_id = #{sysId,jdbcType=INTEGER},
            </if>
            <if test="sysCode != null">
                sys_code = #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="smsCode != null">
                sms_code = #{smsCode,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=LONGVARCHAR},
            </if>
            <if test="mobileCount != null">
                mobile_count = #{mobileCount,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="sendContent != null">
                send_content = #{sendContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="smsConfigId != null">
                sms_config_id = #{smsConfigId,jdbcType=INTEGER},
            </if>
            <if test="smsType != null">
                sms_type = #{smsType,jdbcType=TINYINT},
            </if>
            <if test="isLocalTemplate != null">
                is_local_template = #{isLocalTemplate,jdbcType=TINYINT},
            </if>
            <if test="localTemplateId != null">
                local_template_id = #{localTemplateId,jdbcType=INTEGER},
            </if>
            <if test="isRemoteTemplate != null">
                is_remote_template = #{isRemoteTemplate,jdbcType=TINYINT},
            </if>
            <if test="remoteTemplateId != null">
                remote_template_id = #{remoteTemplateId,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null">
                channel_id = #{channelId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from sms_channel_message
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>