<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.sms.common.dao.mapper.SmsMessageTemplateMapper">
    <resultMap id="BaseResultMap" type="com.zb.sms.common.model.SmsMessageTemplateDo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="template_code" property="templateCode" jdbcType="VARCHAR"/>
        <result column="template_name" property="templateName" jdbcType="VARCHAR"/>
        <result column="template_content" property="templateContent" jdbcType="LONGVARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, template_code, template_name, template_content, status, create_time, modified_time
    </sql>

    <sql id="Select_SQL">
        select
        <include refid="Base_Column_List"/>
        from sms_message_template
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="templateCode != null">
                and template_code = #{templateCode,jdbcType=VARCHAR}
            </if>
            <if test="templateName != null">
                and template_name = #{templateName,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </sql>

    <select id="select" resultMap="BaseResultMap" parameterType="com.zb.sms.common.model.SmsMessageTemplateDo">
        <include refid="Select_SQL"/>
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.zb.sms.common.model.SmsMessageTemplateDo">
        <include refid="Select_SQL"/>
    </select>

    <select id="selectByMap" resultMap="BaseResultMap" parameterType="map">
        <include refid="Select_SQL"/>
    </select>

    <select id="selectListByMap" resultMap="BaseResultMap" parameterType="map">
        <include refid="Select_SQL"/>
    </select>

    <insert id="insert" parameterType="com.zb.sms.common.model.SmsMessageTemplateDo">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sms_message_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateCode != null">
                template_code,
            </if>
            <if test="templateName != null">
                template_name,
            </if>
            <if test="templateContent != null">
                template_content,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateCode != null">
                #{templateCode,jdbcType=VARCHAR},
            </if>
            <if test="templateName != null">
                #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="templateContent != null">
                #{templateContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.zb.sms.common.model.SmsSystemInfoDo">
        update sms_message_template
        <set>
            <if test="templateCode != null">
                template_code = #{templateCode,jdbcType=VARCHAR},
            </if>
            <if test="templateName != null">
                template_name = #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="templateContent != null">
                template_content = #{templateContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from sms_message_template
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>