<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<bean id="casEntryPoint" class="com.zillionfortune.cif.web.security.CasAuthenticationEntryPoint">
		<property name="loginUrl"
			value="${cas.securityContext.casProcessingFilterEntryPoint.loginUrl}" />
		<property name="serviceProperties" ref="serviceProperties" />
	</bean>
	
	<bean id="casFilter"
		class="org.springframework.security.cas.web.CasAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>

	<security:http auto-config="true" use-expressions="true"
		entry-point-ref="casEntryPoint" access-denied-page="/accessDenied.jsp">
		
		<security:intercept-url pattern="/**/*.html" access="hasAnyRole('ROLE_USER','ROLE_PERSONAL_MERCHANT','ROLE_COMPANY_MERCHANT')"  />  
		<security:intercept-url pattern="/**/*" access="permitAll"  /> 
		<security:anonymous />
		<security:logout logout-url="/payportal/action/logout.html" logout-success-url="/action/logoutSuccess.html"/>
		<security:custom-filter position="CAS_FILTER" ref="casFilter" />
	</security:http>

	<bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
		<property name="service"
			value="${cas.securityContext.serviceProperties.service}" />
		<property name="sendRenew" value="false" />
	</bean>

	<bean id="userDetailsService" class="com.zillionfortune.cif.web.security.CasUserDetailsService"/>

	<bean id="casAuthenticationProvider"
		class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
		<property name="userDetailsService" ref="userDetailsService" />
		<property name="serviceProperties" ref="serviceProperties" />
		<property name="ticketValidator">
			<bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
				<constructor-arg index="0"
					value="${cas.securityContext.ticketValidator.casServerUrlPrefix}" />
			</bean>
		</property>
		<property name="key" value="password" />
	</bean>
	
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider
			ref="casAuthenticationProvider" />
	</security:authentication-manager>

</beans>