<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">
        
   	<util:properties id="propertiesReader" location="classpath:interfaces/interface_url.properties"/>
   	<util:properties id="systemPropertiesReader" location="classpath:env/configurations-dev.properties"/>
<!-- 注解bean扫描-->
    <!-- application 上下文 -->
    <bean class="com.zillionfortune.cif.support.holder.ApplicationContextHolder"/>
    <!-- 公共配置文件-->
	<!-- <import resource="classpath:/spring-env.xml"/>	 -->
	<import resource="classpath:/spring-resource-db.xml" />
	<import resource="classpath:/spring-aspect.xml" />
    <import resource="classpath:/spring-beanvalidation.xml" />
    <import resource="classpath:/msg/spring-message.xml" />
    <import resource="classpath:/security/spring-security.xml" />
    <import resource="classpath:/spring-mybatis.xml" />
    <import resource="classpath*:/spring/applicationContext-*.xml"/>
    <import resource="classpath*:dubbo/dubbo-provider.xml" />
    <import resource="classpath*:dubbo/dubbo-customer.xml" />
    <import resource="classpath*:spring/spring-common.xml"/>
    <import resource="classpath*:spring/spring-*.xml"/>
</beans>
